{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
{# EXO : remplacer les ... par le mot qui a été tapé dans
     la barre de recherche #}
    <h2>Résultats de la recherche de <code>{{ mot }}</code></h2>
    <div class="card-columns">
        {% for livre in livres %}
            {% include "livre/vignette.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}
